Repository inventaire/inventaire, pull requests merged in 2021-09, with the labels that each got.

#529 search: allow to search entities with their relative entities labels
  server/controllers/search/lib/entities_query_builder.js
  server/db/elasticsearch/formatters/entity.js
  server/db/elasticsearch/mappings/entities.js
  server/db/elasticsearch/mappings/mappings_datatypes.js
  tests/api/fixtures/entities.js
  tests/api/search/entities.test.js
Labels: search

#530 search claim filter
  server/controllers/search/lib/entities_query_builder.js
  server/controllers/search/lib/type_search.js
  server/controllers/search/search.js
  server/db/elasticsearch/formatters/entity.js
  server/db/elasticsearch/mappings/entities.js
  server/db/elasticsearch/mappings/mappings_datatypes.js
  server/lib/sanitize/parameters.js
  tests/api/search/search.test.js
  tests/api/search/search_entities.test.js
  tests/api/search/search_entities_by_claim.test.js
  tests/api/utils/search.js
Labels: low priority, search

#547 invitations email: prevent leaking user email
  server/lib/emails/email.js
Labels: emails, privacy

#553 make shelves activitypub actors
  server/controllers/activitypub/activitypub.js
  server/controllers/activitypub/follow.js
  server/controllers/activitypub/inbox.js
  server/controllers/activitypub/lib/activities.js
  server/controllers/activitypub/lib/create_activities_on_items_updates.js
  server/controllers/activitypub/lib/deliver_entity_activities_from_patch.js
  server/controllers/activitypub/lib/format_entity_patches_activities.js
  server/controllers/activitypub/lib/format_items_activities.js
  server/controllers/activitypub/lib/format_shelf_items_activities.js
  server/controllers/activitypub/lib/format_user_items_activities.js
  server/controllers/activitypub/lib/get_actor.js
  server/controllers/activitypub/lib/radio_hooks.js
  server/controllers/activitypub/lib/validations.js
  server/controllers/activitypub/outbox.js
  server/controllers/activitypub/webfinger.js
  server/controllers/items/lib/items.js
  server/controllers/shelves/lib/shelves.js
  server/db/couchdb/design_docs/items.json
  server/models/user.js
  tests/api/activitypub/actor.test.js
  tests/api/activitypub/followers_activity_delivery.test.js
  tests/api/activitypub/inbox_follow.test.js
  tests/api/activitypub/inbox_undo.test.js
  tests/api/activitypub/outbox.test.js
  tests/api/activitypub/signed_request.test.js
  tests/api/activitypub/webfinger.test.js
  tests/api/feeds/get.test.js
  tests/api/fixtures/shelves.js
  tests/api/items/create.test.js
  tests/api/items/export.test.js
  tests/api/items/inventory_view.test.js
  tests/api/items/update.test.js
  tests/api/shelves/by_ids.test.js
  tests/api/shelves/by_owners.test.js
  tests/api/shelves/delete.test.js
  tests/api/shelves/remove_items.test.js
  tests/api/shelves/update.test.js
  tests/api/user/delete.test.js
  tests/api/utils/activitypub.js
  tests/api/utils/shelves.js
  tests/api/utils/utils.js
Labels: shelves
