Repository inventaire/inventaire, pull requests merged in 2022-05, with the labels that each got.

#614 create shelf with items
  server/controllers/shelves/create.js
  tests/api/shelves/create.test.js
Labels: bug, shelves

#618 make NodeJS core modules import explicit
  scripts/backup_databases/lib/get_backup_folder_data.js
  scripts/dumps/convert_ndjson_dump_to_ttl.js
  scripts/scripts_utils.js
  server/controllers/activitypub/follow.js
  server/controllers/activitypub/lib/helpers.js
  server/controllers/activitypub/lib/security.js
  server/controllers/auth/wikidata_oauth.js
  server/controllers/images/lib/download_image.js
  server/controllers/images/lib/swift_client.js
  server/controllers/images/resize.js
  server/data/bnb/get_bnb_entry_from_isbn.js
  server/data/bne/get_bne_entry_from_isbn.js
  server/data/bnf/get_bnf_entry_from_isbn.js
  server/data/commons/thumb.js
  server/data/lib/fetch_external_author_works_titles.js
  server/data/wikipedia/get_article.js
  server/db/level/jobs.js
  server/lib/auto_rotated_keys.js
  server/lib/crypto.js
  server/lib/emails/email.js
  server/lib/fs.js
  server/lib/images.js
  server/lib/network/helpers.js
  server/lib/os.js
  server/lib/radio.js
  server/lib/requests.js
  server/lib/requests_agent.js
  server/lib/utils/json.js
  server/lib/utils/logs.js
  server/lib/utils/random_string.js
  server/models/relation.js
  tests/api/entities/images.test.js
  tests/api/fixtures/text.js
  tests/api/fixtures/users.js
  tests/api/groups/search_by_position.test.js
  tests/api/oauth/authorize.test.js
  tests/api/users/search_by_position.test.js
  tests/api/utils/images.js
  tests/api/utils/oauth.js
  tests/api/utils/request.js
  tests/unit/libs/051-network.js
  tests/unit/utils.js
Labels: low priority

#623 createOccurrencesFromUnstructuredArticle: normalize terms using ascii folding
  package-lock.json
  package.json
  server/controllers/entities/lib/get_occurrences_from_external_sources.js
Labels: entities, resolver
