Repository inventaire/inventaire, pull requests merged in 2024-02, with the labels that each got.

#703 Automerge on claims
  scripts/populate_users_fixtures.js
  server/controllers/data/wp_extract.js
  server/controllers/entities/lib/get_occurrences_from_entities.js
  server/controllers/entities/lib/get_occurrences_from_external_sources.js
  server/controllers/entities/lib/resolver/resolve_on_terms.js
  server/controllers/tasks/lib/automerge.js
  server/controllers/tasks/lib/check_entity.js
  server/controllers/tasks/lib/deduplicate_works.js
  server/controllers/tasks/lib/find_authors_with_isbns_in_wikipedia_articles.js
  server/controllers/tasks/lib/get_new_tasks.js
  server/controllers/tasks/lib/tasks.js
  server/data/wikipedia/get_article.js
  server/lib/isbn/isbn.js
  server/lib/promises.js
  tests/api/tasks/automerge.test.js
  tests/api/tasks/hooks.test.js
Labels: resolver, tasks

#733 transactions: update-state: return the updated transaction
  server/controllers/transactions/update_state.js
  tests/api/transactions/update-state.test.js
Labels: transactions

#726 get Openlibrary summaries by ISBN
  server/controllers/data/lib/summaries/bnf.js
  server/controllers/data/lib/summaries/getters.js
  server/controllers/data/lib/summaries/openlibrary.js
  tests/api/data/summaries.test.js
  tests/api/utils/entities.js
Labels: entities

#734 get_entities_by_isbns: refresh seeds when requested
  server/controllers/entities/lib/get_entities_by_isbns.js
  server/controllers/entities/lib/resolver/create_entity_from_seed.js
  server/controllers/entities/lib/resolver/helpers.js
  server/controllers/entities/lib/resolver/resolve_edition_from_works.js
  server/controllers/entities/lib/resolver/update_resolved_entry.js
  server/data/dataseed/enrich_and_get_edition_entity_from_isbn.js
  server/data/dataseed/get_authorities_aggregated_entry.js
  tests/api/entities/resolver/resolve_and_create.test.js
  tests/api/entities/resolver/resolve_and_update.test.js
  tests/integration/data/enrich_and_get_edition_entity_from_isbn.test.js
Labels: entities, resolver
